[defaults]
inventory = inventory
retry_files_enabled = False
gathering = smart
fact_caching = memory
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
deprecation_warnings = False
strategy = linear
forks = 5

[inventory]
enable_plugins = yaml, ini, auto, amazon.aws.aws_ec2

[connection]
pipelining = True